<!--The content below is only a placeholder and can be replaced.-->
<div class="mainHeading">
  <!-- Main Heading -title -->
  <h1>Capco Main Table</h1>

</div>
<div>
  <!-- Link to the extra credit table -->
  <button (click)="gotoCreditPage()"> Link to extra Credit Table</button><br>
  <div>
    <br>
    <!-- Select the number of rows to start pagination -->
    Select Number of rows(select to get pagination): <select (change)=changeLengthOfData($event.target.value)>
      <option></option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
  <!-- Required representation of the table -->
  <table>
    <thead>
      <tr>
        <!-- Header of the table -->
        <th *ngFor="let item of paginatedData[0] | keys">{{item}}</th>
        <th>Submit</th>
      </tr>
    </thead>
    <!-- Body of the table -->
    <tbody>
      <tr *ngFor="let value of paginatedData">
        <td *ngFor="let key of value | keys">
          {{value[key]}}
        </td>
        <td><button (click) = submitToServer(value.id,value.status)>send</button></td>
      </tr>
    </tbody>
    <!-- Pagination will start from here -->
    <tr>
      <div class="pagination">

        <button *ngFor="let num of numbersArray; let index = i" (click)="clickPagination(num);">
          {{num}}</button>

      </div>
    </tr>
    <p>Developed by Alekhya Vadali</p>
  </table>

</div>