table ,tr td{
    border:1px solid burlywood;
}
.mainHeading {
    text-align: center;
    color: #BC9B5D;
}
tbody {
    display:block;
    height:600px;
    overflow-x: scroll;
    overflow-y: scroll;
}
thead, tbody tr {
    display:table;
     width:2000px;
    table-layout:fixed;
    word-wrap: break-word;
}
thead {
    width: 100%;
    height: 30px;
    display: inline-table;
    overflow-x: scroll;
    
}
table {
    width:100%;
    display: table-header-group;
    height:600px;
    overflow-x: scroll;
    overflow-y: scroll;
}
tr:hover {background-color: #f5f5f5;}
.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination button.active {
    background-color: dodgerblue;
    color: white;
  }
  .pagination button:hover:not(.active) {background-color: #ddd;}
  