<!--The content below is only a placeholder and can be replaced.-->
<div class="mainHeading">
  <!-- Main Heading -title -->
  <h1>Capco extra credit Table</h1>
</div>
<div>
  <!-- Link to the extra Pagination table -->
  <button (click)="goToPaginationTable()"> Link to main Table</button><br>
  <div>
    Select Number of rows: <select (change)=changeLengthOfData($event.target.value)>
      <option></option>
      <option value="5">5</option>
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <!-- Required representation of the table -->
  <table>
    <!-- Header of the table -->
    <thead>
      <tr>
        <th *ngFor="let item of paginatedData[0] | keys">{{item}}</th>
      </tr>
    </thead>
    <!-- Body of the table -->
    <tbody>
      <tr *ngFor="let value of paginatedData">
        <td *ngFor="let key of value | keys">
          {{value[key]}}
        </td>
      </tr>
      <p>Developed by Alekhya Vadali</p>
    </tbody>
  </table>
</div>